body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-image: url("../images/texture-background1.jpg");
  background-size: cover;
 }

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 5px;
  font-size: 25px;
}

.dropdown-menu {
  width: 280px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#set-workday li:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#set-form {
  padding: 10px 30px;
}

#start-time {
  text-align: right;
}

#end-time{
  text-align: right;
}

.error-msg {
  text-align: center;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.jumbotron p:nth-child(2) {
  border-bottom: 2px dotted black;
  padding-bottom: 10px;
  padding-top: 10px;
}

#current-day {
  margin-top: 40px;
  font-size: 30px;
}

#current-time {
  margin-top: 30px;
  font-size: 25px;
  margin-bottom: 30px;
}

#content-box {
  margin-bottom: 100px;
  width: 100%;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  padding-top: 40px;
  padding-left: 20px;
  border-radius: 15px;
  width: 60%;
}

.row {
  white-space: pre-wrap;
  height: 110px;
  border-top: 1px solid white;
}

.hour {
  color: #000000;
  border-top: 1px dashed #000000;
  width: 20%;
  padding-top: 10px;
  font-size: 20px;
}

.past {
  background-color: rgb(38, 22, 234, 0.5);
  color: black;
}

.present {
  background-color: rgb(86, 223, 34, 0.7);
  color: black;
}

.future {
  background-color: rgb(108, 232, 230, 0.5);
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  background-image: url('../images/save-icon2.png');
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  width: 20%;
  position: relative;
}


.saveBtn:hover {
  background-color: rgb(5, 203, 249, 0.8);
  transition: all 0.3s ease-in-out;
}


@media screen and (min-width: 700px) {

  .jumbotron p:nth-child(2) {
    margin-left: 10%;
    margin-right: 10%;
    }
    
  .time-block {
    width: 70%;
  }  

  .hour {
    width: 15%;
  }  

  .saveBtn {
    width: 15%;
  }  
}

@media screen and (min-width: 820px) {

  .jumbotron p:nth-child(2) {
    margin-left: 15%;
    margin-right: 15%;
    }

   .time-block {
    width: 80%;
  }  

  .hour {
    width: 10%;
  }  

  .saveBtn {
    width: 10%;
  }  
}


@media screen and (min-width: 1050px) {

  .jumbotron p:nth-child(2) {
    margin-left: 20%;
    margin-right: 20%;
    }
}

@media screen and (min-width: 1250px) {

  .jumbotron p:nth-child(2) {
    margin-left: 25%;
    margin-right: 25%;
    }
}

@media screen and (min-width: 1450px) {

  .jumbotron p:nth-child(2) {
    margin-left: 30%;
    margin-right: 30%;
    }
}